*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    background: radial-gradient(circle, rgba(238,174,202,1) 31%, rgba(229,159,98,1) 98%);
    /* border-radius: 10px; */
}
.nav a{
    color: black;
    position: relative;
    margin-left: 20px;
}
.nav a::after{
    content: "";
    height: 5px;
    width: 0;
    background-color: rgb(4, 104, 255);
    position: absolute;
    bottom:-4px;
    left: 50%;
    transform: translate(-50%);
    transition: 2s ease;
}
.nav a:hover::after{
    width: 100%;
}
.nav a:hover{
    color: brown ;
}
.nav-item a:hover::after
{
    width: 0;
    /* background-color: white; */
    
}
.icon-section{
    display: flex;
    justify-content: space-around;
}


